.text-center{
    text-align: center;
    color: blueviolet;
    font-weight: bold;
  }
  
  .bg-red{
    background: url(background.jpg);
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }